<div class="flight_select">
    <%= form.label "flight_id_#{flight.id}" do %>
        <%= flight.code %>
        <%= flight.departure_airport.code %>
        <%= flight.arrival_airport.code %>
        <%= flight.departure_time.strftime("%H:%M %d/%m/%Y") %>
        <%= flight.arrival_time.strftime("%H:%M %d/%m/%Y") %>
        <%= flight.duration %>
        <%= flight.ticket_price %>
        <%= flight.available_seats %>
    <% end %>
    <%= form.radio_button :flight_id, flight.id %>
</div>