<div class="flight_info">
    <%= flight.code %>
    <%= flight.departure_airport.code %>
    <%= flight.arrival_airport.code %>
    <%= flight.departure_time %>
    <%= flight.arrival_time %>
    <%= flight.duration %>
    <%= flight.ticket_price %>
</div>