<%= form_with url: root_path, method: :get do |form| %>
    <div class="search_field">
        <%= form.label :departure_airport_id, "Departure Airport" %>
        <%= form.collection_select :departure_airport_id, Airport.order(:name), :id, :name %>
    </div>
    <div class="search_field">
        <%= form.label :arrival_airport_id, "Arrival Airport" %>
        <%= form.collection_select :arrival_airport_id, Airport.order(:name), :id, :name  %>
    </div>
    <div class="search_field">
        <%= form.label :num_tickets, "Number of Tickets" %>
        <%= form.select :num_tickets, [[1, 1], [2, 2], [3, 3], [4, 4]] %>
    </div>
    <div class="search_field">
        <%= form.label :date, "Flight Date" %>
        <%= form.collection_select :departure_date, Flight.get_departure_dates, :departure_time, :formatted_departure_date %>
    </div>
    <%= form.submit "Search" %>
<% end %>

<% if @flights.empty? %>
  <p>No flights found!</p>
<% else %>
    <%= form_with url: new_booking_path, method: :get do |form| %>
        <%= form.hidden_field "num_tickets", value: @num_tickets %>
        <%= render @flights, form: form %>
        <%= form.submit "Select Flight" %>
    <% end %>
<% end %>